* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	background-image: url('IMG_0464.JPG');
	
}
.header {
	height: 10vh;
	/* padding: 2rem 1rem; */
	background: rgb(70, 160, 109);
	color: rgb(251, 251, 251);
	padding: 20px;
}
form {
	margin: 1rem auto 2rem;
}
.main-wrap {
	width: 90vw;
	display: flex;
	margin: 0 auto;
}
.sidebar {
	min-height: 90vh;
	max-width: 20vw;
	background: lightblue;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}
.main-content {
	max-width: 90vw;
	flex: 1 1 0;
	padding: 1rem 1rem 0;
}
.content {
	resize: none;
}
.hidden {
	display: none;
}
.login-container {
	margin: 0 auto;
	width: 30vw;
}
label {
	display: block;
}
.creation input,
textarea {
	margin-bottom: .5rem;
}
.past-notes {
	width: 250px;
	height: 250px;
	margin: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 10px;
	background-color: rgb(248, 248, 230);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	transition: transform .2s;
}

.note-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 10px;
}
.past-notes {
	border: 1px solid lightgrey;
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: blue;
}

.delete {
	background-image: url(icons8-trash-32.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    border: none;          
    cursor: pointer;       
    height: 30px;          
    padding: 7px;    
	width:30px;	
}
.past-notes:hover {
	transform: scale(1.5);
}
.past-notes:hover .buttons{
	display:block;
}
.past-notes .buttons{
	display: none;
}

.edit{
	background-image: url(edit.png);
	background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    border: none;           
    cursor: pointer;        
	height: 30px;  
	width: 30px;         
	vertical-align: middle; 
}
.updated{
	color:gray;
	font-size: small;
}
.submit-button {
	display: block;
	background-color: seagreen;
	border: none;
	color: rgb(10, 9, 9);
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 12px;
}
.submit-button:hover {
	background-color: #bde6be;
	box-shadow: 5px 5px #888888;
}

.submit-button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#tags {
	width: 300px;
	height: 30px;
	border: 1px solid rgb(53, 51, 51);
	border-radius: 5px;
}
.tags {
	background-color: bisque;
	border-radius: 5px;
	width: 80px;
}
#title {
	width: 300px;
	height: 30px;
	border: 1px solid rgb(53, 51, 51);
	border-radius: 5px;
}
#note-content {
	border: 1px solid rgb(53, 51, 51);
	border-radius: 5px;
}
